body {
  background-color: grey;
}
.expense-card {
  background-color: #111827;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 12px;
  color: white;
}

.expense-card h3 {
  font-size: 60px;
  color: #38bdf8;
  text-align: center;
}

.expense-card p {
  margin-bottom: 4px;
  font-size: 30px;
  color: #cbd5e1;
  text-align: center;
}
.title {
  font-size: 60px;
  color: #38bdf8;
  text-align: center;
}
.price {
  font-size: 60px;
  color: #38bdf8;
  text-align: center;
}
